//color
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;

@import "./layout/fonts.scss";
@import "./layout/base.scss";
@import "./layout/mixin.scss";

@import "./block/_sidebar.scss"; 
@import "./block/_index.scss"; 
@import "./block/_header.scss";
@import "./block/_nav.scss";  
@import "./block/_btn.scss";  
@import "./block/_main-content.scss"; 
@import "./block/_right-content.scss"; 
@import "./block/_title.scss"; 
@import "./block/_orange.scss"; 
@import "./block/_black.scss"; 
@import "./block/_white.scss"; 
@import "./block/_arrow.scss"; 
@import "./block/_best.scss"; 
@import "./block/_team.scss"; 
@import "./block/_reviews.scss"; 





















