.best {
  @include bgi(best);

  &__we {
    padding-top: 135px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    text-align: center;
  }

  &__pic {
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 33.3%;
  }

  &__item h3 {
    font-family:  'Lifehack', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    color: #2f3234;
  }

  &__item p {
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    color: #2f3234;
    line-height: 24.02px;
  }
}