.right-content {
  margin-top: 140px;
  margin-left: 20px;

  &__par {
      font-family: 'Lifehack', Arial, Helvetica, sans-serif;
      font-weight: 500px;
      font-style: normal;
      font-size: 65px;
      color: #fff;
      line-height: 1;
    }
}